<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <appender name="SLACK" class="com.wutsi.platform.core.logging.SlackAppender" level="ERROR">
    <appender-ref ref="CONSOLE"/>

    <queueSize>256</queueSize>
  </appender>
  <root>
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
